<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 box">
                <app-checkbox-filter [filterTitle]="speciesFilterTitle" [choices]="speciesTypes" (selectedSpecies)="onSelectedChoices($event)" id="species"></app-checkbox-filter>
                <app-checkbox-filter [filterTitle]="genderFilterTitle" [choices]="genderTypes" (selectedGender)="onSelectedGender($event)" id="gender"></app-checkbox-filter>
        </div>
        <div class="col-lg-9 box">
                <div class="col-sm-7 float-left">
                    <app-search></app-search>
                </div>
                <div class="col-sm-2 float-right">
                    <app-dropdown-sort (selectedSortOrder)="onSelectedSortedOrder($event)"></app-dropdown-sort>
                </div>
                <div class="clearfix"></div>
                <app-char-grid [speciesChoices]="speciesChoicesSelected" [genderChoices]="genderChoicesSelected" [sortOrder]="sortOrderSelected"></app-char-grid>
        </div>
    </div>
</div>