<!-- <div class="container-fluid">
    <div class="row">
            <div class="col-lg-3 col-6" *ngFor="let character of (characters$ | async)?.results | characterFilter : searchTerm | choiceFilter : speciesChoices: genderChoices | sortByID : sortOrder">
            <div>
                <div class="card">
                    <img src="{{character.image}}" class="card-img-top" alt="{{character.name}}">
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><span class="float-left">Status</span><span class="float-right">{{character.status}}</span></li>
                            <li class="list-group-item"><span class="float-left">Species</span><span class="float-right">{{character.species}}</span></li>
                            <li class="list-group-item"><span class="float-left">Gender</span><span class="float-right">{{character.gender}}</span></li>
                            <li class="list-group-item"><span class="float-left">Origin</span><span class="float-right">{{character.origin.name}}</span></li>
                            <li class="list-group-item"><span class="float-left">Last Location</span><span class="float-right">{{character.location.name}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row">
            <div class="col-lg-3 col-6" *ngFor="let character of (characters$ | async)?.results | characterFilter : searchTerm | choiceFilter : speciesChoices: genderChoices | sortByID : sortOrder">
                    <div>
                        <div class="card">
                            <img src="{{character.image}}" class="card-img-top" alt="{{character.name}}">
                            <div class="img-label">
                            <h6>{{character.name}}</h6>
                            <p>Id:{{character.id}}</p>
                            <p>created {{character.created | dateFormatPipe}} years ago.</p>
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <li class="list-group-item"><span class="float-left">Status</span><span class="float-right right-col">{{character.status}}</span></li>
                                    <li class="list-group-item"><span class="float-left">Species</span><span class="float-right right-col">{{character.species}}</span></li>
                                    <li class="list-group-item"><span class="float-left">Gender</span><span class="float-right right-col">{{character.gender}}</span></li>
                                    <li class="list-group-item"><span class="float-left">Origin</span><span class="float-right right-col">{{character.origin.name}}</span></li>
                                    <li class="list-group-item"><span class="float-left">Last Location</span><span class="float-right right-col">{{character.location.name}}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>


    
    
